process.conda = "$baseDir/environment.yaml"

params {
    reads = ''
    phred = 33
    results = './results'
    pairedEnd = true
    minlen = 1000
    help = false
}


profiles {
    standard {
        executor {
            name = 'local'
        }
         process{
            withLabel : 'bigmem' {
                cpus = 32
                memory = '256G'
            }
            withLabel : 'intenso' {
                cpus = 8
                memory = '9G'
            }
            withLabel : 'expresso' {
                cpus = 4
                memory = '2G'
            }
            withLabel : 'ristretto' {
                cpus = 1
                memory = '2G'
            }
        }
    }
    test {
        executor {
            name = 'local'
        }
        params {
            reads = "$baseDir/test/data/*.{1,2}.fastq.gz"
            phred = 64
            results = './test_results'
            pairedEnd = true
            minlen = 5000
            help = false
        }  
         process{
            cpus = 2
            memory = '4G'
        }
    }
    shh {
        executor {
            name = 'slurm'
            queueSize = 16
        }
        process{
            withLabel : 'bigmem' {
                queue = 'medium'
                cpus = 30
                memory = '50G'
                time = '12h'
            }
            withLabel : 'intenso' {
                queue = 'short'
                cpus = 6
                memory = '12G'
                time = '1h'
            }
            withLabel : 'expresso' {
                queue = 'short'
                cpus = 4
                memory = '2G'
                time = '10m'
            }
            withLabel : 'ristretto' {
                queue = 'short'
                cpus = 1
                memory = '2G'
                time = '15m'
            }
        }
    }
}


timeline {
  enabled = true
  file = "${params.results}/execution_timeline.html"
  }
report {
  enabled = true
  file = "${params.results}/execution_report.html"
  }